blockquote {
    margin: 1em 3em;
    padding: 1em;
    background-color: #CEC6C6;
    font-size: 2em;
    line-height: 1.5em;
}

blockquote:before, blockquote:after {
    content: '"'; 
}

table {
    margin: 0 30%;
    font-size: 2em;
}
table tr {
    height: 1.5em;
}

